/* Write your code here. */
button {
  background-color: #ffce27;
  color: #3d3d3d;
  border-radius: 5px;
  padding: 4px;
  border: 1px solid #3d3d3d;
  font-size: 12px;
  font-weight: 500;
}

.result-container {
  display: flex;
  background-color: #ffffff33;
  width: 45%;
  height: 240px;
  border-radius: 10px;
  justify-content: space-around;
  padding: 10px 4px;
}

.img {
  height: 200px;
  width: 200px;
}
